/* #region common */

:root{
    --Boot-primary: rgba(26, 188, 156, 1);
    --Boot-secondary_light: rgba(58, 84, 109, 1);
    --Boot-secondary_dark: rgba(44, 62, 80, 1);
    --Boot-lighter: rgba(255, 255, 255, 1);
    --Boot-darkest: rgba(51, 51, 51, 1);
    
}

/* #endregion common */

/* utilities */
.text_primary{
    color: var(--Boot-primary);
}
.icon_link{
    border: 1px solid var(--Boot-lighter);
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 2.5rem;
    height: 2.5rem;
}
/* utilities */
button.btn.btn-primary{
    background-color: var(--Boot-primary);
}

/* #region header */
#site_header{
    background-color: var(--Boot-secondary_dark);
}

/* #endregion header */

/* #region main */

/* #region start */
#start{
    background-color: var(--Boot-primary);
}

/* #endregion start */

/* #region portfolio */

/* #endregion portfolio */

/* #region about */
#about{
    background-color: var(--Boot-primary);
}

/* #endregion about */

/* #region contact */

/* #endregion contact */

/* #endregion main */

/* #region footer */

/* #region top_footer */
#top_footer{
    background-color: var(--Boot-secondary_light);
}
/* #endregion top_footer */

/* #region bottom_footer */
#bottom_footer{
    background-color: var(--Boot-secondary_dark);
}
.copyright{
    background-color: violet;
    height: 50px;
}

/* #endregion bottom_footer */

/* #endregion footer */
