/* #region common */

:root{
    --Boot-primary: rgba(26, 188, 156, 1);
    --Boot-secondary_light: rgba(58, 84, 109, 1);
    --Boot-secondary_dark: rgba(44, 62, 80, 1);
    --Boot-lighter: rgba(255, 255, 255, 1);
    --Boot-darkest: rgba(51, 51, 51, 1);
    
}

/* #endregion common */

/* #region header */
#site_header{
    background-color: var(--Boot-secondary_dark);
}
#nav{
    justify-content: space-between;
    height: 50px;

    & div{
        width: 100px;
        height: 100%;
        background-color: greenyellow;
    }
}

/* #endregion header */

/* #region main */

/* #region start */
#start{
    background-color: var(--Boot-primary);

    & .jumbotron{
        
        height: 200px;
        background-color: yellowgreen;
    }
}

/* #endregion start */

/* #region portfolio */


/* #endregion portfolio */

/* #region about */


/* #endregion about */

/* #region contact */


/* #endregion contact */

/* #region about */


/* #endregion about */

/* #endregion main */

/* #region footer */


/* #endregion footer */
