/* #region common */

:root{
    --Boot-primary: rgba(26, 188, 156, 1);
    --Boot-secondary_light: rgba(58, 84, 109, 1);
    --Boot-secondary_dark: rgba(44, 62, 80, 1);
    --Boot-lighter: rgba(255, 255, 255, 1);
    --Boot-darkest: rgba(51, 51, 51, 1);
    
}

/* #endregion common */

/* utilities */
.text_decoration{
    text-decoration: none;
}

/* utilities */
button.btn.btn-primary{
    background-color: var(--Boot-primary);
}

/* #region header */
#site_header{
    background-color: var(--Boot-secondary_dark);
}

/* #endregion header */

/* #region main */

/* #region start */
#start{
    background-color: var(--Boot-primary);

}

/* #endregion start */

/* #region portfolio */

/* #endregion portfolio */

/* #region about */
#about{
    background-color: var(--Boot-primary);
}

/* #endregion about */

/* #region contact */
.list{
    background-color: blueviolet;
    height: 100px;
}

/* #endregion contact */

/* #region info */
#info{
    background-color: var(--Boot-secondary_light);
}
.location{
    background-color: aqua;
    height: 80px;
}
.web{
    background-color: beige;
    height: 80px;
}
.freelance{
    background-color: brown;
    height: 80px;
}
/* #endregion info */

/* #endregion main */

/* #region footer */
#site_footer{
    background-color: var(--Boot-secondary_dark);
}
.copyright{
    background-color: violet;
    height: 50px;
}
/* #endregion footer */
